<div class="container">
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form" name="form" role="form" ng-submit="submit()">
            <h3 class="form-signin-heading">Liquidador de Reembolsos</h3>
            <div class="form-group">
            <input class="form-control" type="text" name="rut"  placeholder="Ingrese RUT del Titular" ng-placeholder="Ingrese RUT del Titular" ng-model="busqueda.rut" required="required" autofocus="autofocus"><span class="help-block">Ejemplo: 12345678-9</span></input>
            </div>
            <button class="btn btn-primary" type="submit"  ng-show="form.rut.$error.bvValidarRut || busqueda.rut.length == 0">Ingresar</button>
            <button class="btn btn-primary" type="submit"  ng-show="!form.rut.$error.bvValidarRut &amp;&amp; busqueda.rut.length > 0" ng-click="go('/prestaciones/' + busqueda.rut)">Ingresar</button>
        </form>
    </div>
</div>
</div>