<div >
<accordion close-others="oneAtATime" >      
        <accordion-group is-open="isPolizaOpen" ng-controller="CargasafiliadoCtrl">
            <accordion-heading>
                P&oacute;liza: {{poliza.numeroPoliza}} /  Empleador: {{poliza.nombreEmpleador}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isPolizaOpen, 'glyphicon-chevron-right': !isPolizaOpen}"></i>                
            </accordion-heading>
            <div class="form-group">
                <label>Plan: </label>
                <span>{{poliza.nombrePlan}}</span>
            </div>                             
        </accordion-group>     
        <accordion-group is-open="isGrupoOpen" >
            <accordion-heading>
                Grupo Familiar <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isGrupoOpen, 'glyphicon-chevron-right': !isGrupoOpen}"></i>
            </accordion-heading>
                Seleccionar para ver prestaciones m&eacute;dicas
                <div class="table-responsive" ng-controller="CargasafiliadoCtrl">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th>Fecha Prestaci&oacute;n</th>
                              <th>RUT</th>
                              <th>Nombre Beneficiario</th>
                              <th>Apellido Beneficiario</th>
                              <th>Parentesco</th>
                            </tr>
                        </thead>
                        <tbody  style="cursor: pointer" >
                            <tr>
                              <td>{{poliza.fechaPrestacion}}</td>
                              <td>{{poliza.rutbeneficiario}}</td>
                              <td>{{poliza.nombreBeneficiario}}</td>
                              <td>{{poliza.apellidoBeneficiario}}</td>
                              <td>{{poliza.parentesco}}</td>
                            </tr>
                        </tbody>
                    </table>          
                </div>
                <div class="row-fluid visible-sm visible-md visible-lg visible-print">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Total</th>
                                <th>Aporte Isapre</th>
                                <th>Copago</th>
                                <th class="hidden-xs">Monto Reembolso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cobertura in poliza.coberturaList">
                                <td>{{cobertura.nombre}}</td>
                                <td><input name="total" type="number" class="form-control" ng-model="cobertura.total"/></td>
                                <td><input name="aporteIsapre" type="number" class="form-control" ng-model="cobertura.aporteIsapre"/></td>                                
                                <td><input name="copago" type="number" class="form-control" ng-model="cobertura.copago"/></td>
                                <td class="hidden-xs"><input name="aporteBiceVida" type="number" class="form-control" ng-model="cobertura.aporteBiceVida" readonly/></td>                
                            </tr>
                        </tbody>
                    </table>   
                    <i ng-click="prestacionesList()" class="glyphicon glyphicon-plus-sign pull-left" style="color:#009900"/>  
                </div>
        </accordion-group>  
    </accordion>
</div>




